.basement {
  background-color: #2f303a;
  width: 1600px;
}
.logo-part {
  color: $accent-color;
}
.logo-text {
  color: $primary-white-color;
}
.logo-contact {
  margin-right: 69px;
}
.accede {
  margin-right: 94px;
}
.basement-group {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  align-items: center;
  margin-bottom: 28px;
}
.contact {
  padding: 0;
  margin: 0;
  min-width: 231px;
  min-height: 81px;
}
.challenge .link {
  padding: 9px 0px 0px 0px;
  margin: 0;
}
.logo-footer {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: none;
}
.contact .text {
  padding-top: 8px;
  color: $primary-white-color;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.network {
  display: flex;
  padding: 0;
  margin: 0;
}

.fotter-network {
  color: $primary-white-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-law {
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 18px;
  padding-bottom: 21px;
}

.input-footer {
  padding: 16px 15px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.call {
  margin: 0;
  display: block;
  flex-direction: column;
}
.fly {
  display: flex;
  margin-top: auto;
}
.sign {
  display: flex;
}
.sign-email {
  margin-right: 12px;
}
